In [63]:
import pandas as pd

In [92]:
#loading datasets from API call
done = pd.read_json('alex_datasets/done_2018_05_26__04_03_28.json')
dtwo = pd.read_json('alex_datasets/dtwo_2018_05_26__08_03_27.json')
dthree = pd.read_json('alex_datasets/dthree_2018_05_26__12_03_28.json')
dfour = pd.read_json('alex_datasets/dfour_2018_05_26__16_03_32.json')
dfive = pd.read_json('alex_datasets/dfive_2018_05_26__20_03_30.json')
dsix = pd.read_json('alex_datasets/dsix_2018_05_27__00_03_29.json')

done = pd.DataFrame(done)
dtwo = pd.DataFrame(dtwo)
dthree = pd.DataFrame(dthree)
dfour = pd.DataFrame(dfour)
dfive = pd.DataFrame(dfive)
dsix = pd.DataFrame(dsix)

In [93]:
#checking for dupes in datasets\
print('done')
print('posts:', done.shape)
print('unique posts:', pd.DataFrame(done['title'].value_counts()).shape, '\n')

print('dtwo')
print('posts:', dtwo.shape)
print('unique posts:', pd.DataFrame(dtwo['title'].value_counts()).shape, '\n')

print('dthree')
print('posts:', dthree.shape)
print('unique posts:', pd.DataFrame(dthree['title'].value_counts()).shape, '\n')

print('dfour')
print('posts:', dfour.shape)
print('unique posts:', pd.DataFrame(dfour['title'].value_counts()).shape, '\n')

print('dfive')
print('posts:', dfive.shape)
print('unique posts:', pd.DataFrame(dfive['title'].value_counts()).shape, '\n')

print('dsix')
print('posts:', dsix.shape)
print('unique posts:', pd.DataFrame(dsix['title'].value_counts()).shape, '\n')

done
posts: (2500, 85)
unique posts: (2402, 1)

dtwo
posts: (2500, 84)
unique posts: (2433, 1)

dthree
posts: (2500, 84)
unique posts: (2374, 1)

dfour
posts: (2500, 85)
unique posts: (2323, 1)

dfive
posts: (2500, 84)
unique posts: (2389, 1)

dsix
posts: (2500, 84)
unique posts: (2390, 1)

In [94]:
#aggregating datasets
data1 = pd.concat([done, dtwo, dthree, dfour, dfive, dsix], ignore_index = True)
data1.drop_duplicates(subset = 'title', inplace = True)

data1.shape    #aside from dupes within each dataset, there are additional duples across datasets

(6833, 85)

In [95]:
#adding more posts
dseven = pd.read_json('alex_datasets/dseven_2018_05_27__04_03_25.json')
deight = pd.read_json('alex_datasets/deight_2018_05_27__08_03_25.json')
dnine = pd.read_json('alex_datasets/dnine_2018_05_27__12_03_30.json')
dten = pd.read_json('alex_datasets/dten_2018_05_27__16_03_31.json')
deleven = pd.read_json('alex_datasets/deleven_2018_05_27__20_03_32.json')
dtwelve = pd.read_json('alex_datasets/dtwelve_2018_05_28__00_03_27.json')
dthirteen = pd.read_json('alex_datasets/dthirteen_2018_05_28__04_03_30.json')
dfourteen = pd.read_json('alex_datasets/dfourteen_2018_05_28__08_03_26.json')
dfifteen = pd.read_json('alex_datasets/dfifteen_2018_05_28__12_03_28.json')
dsixteen = pd.read_json('alex_datasets/dsixteen_2018_05_28__16_03_32.json')
dseventeen = pd.read_json('alex_datasets/dseventeen_2018_05_28__20_03_33.json')
deighteen = pd.read_json('alex_datasets/deighteen_2018_05_29__00_03_27.json')
dnineteen = pd.read_json('alex_datasets/dnineteen_2018_05_29__04_03_26.json')
dtwenty = pd.read_json('alex_datasets/dtwenty_2018_05_29__08_03_26.json')
dtwentyone = pd.read_json('alex_datasets/dtwentyone_2018_05_29__12_03_32.json')
dtwentytwo = pd.read_json('alex_datasets/dtwentytwo_2018_05_29__16_03_28.json')

dseven = pd.DataFrame(dseven)
deight = pd.DataFrame(deight)
dnine = pd.DataFrame(dnine)
dten = pd.DataFrame(dten)
deleven = pd.DataFrame(deleven)
dtwelve = pd.DataFrame(dtwelve)
dthirteen = pd.DataFrame(dthirteen)
dfourteen = pd.DataFrame(dfourteen)
dfifteen = pd.DataFrame(dfifteen)
dsixteen = pd.DataFrame(dsixteen)
dseventeen = pd.DataFrame(dseventeen)
deighteen = pd.DataFrame(deighteen)
dnineteen = pd.DataFrame(dninteen)
dtwenty = pd.DataFrame(dtwenty)
dtwentyone = pd.DataFrame(dtwentyone)
dtwentytwo = pd.DataFrame(dtwentytwo)

NameError: name 'dninteen' is not defined

In [96]:
print('dseven')
print('posts:', dseven.shape)
print('unique posts:', pd.DataFrame(dseven['title'].value_counts()).shape, '\n')

print('deight')
print('posts:', deight.shape)
print('unique posts:', pd.DataFrame(deight['title'].value_counts()).shape, '\n')

print('dnine')
print('posts:', dnine.shape)
print('unique posts:', pd.DataFrame(dnine['title'].value_counts()).shape, '\n')

print('dten')
print('posts:', dten.shape)
print('unique posts:', pd.DataFrame(dten['title'].value_counts()).shape, '\n')

print('deleven')
print('posts:', deleven.shape)
print('unique posts:', pd.DataFrame(deleven['title'].value_counts()).shape, '\n')

print('dtwelve')
print('posts:', dtwelve.shape)
print('unique posts:', pd.DataFrame(dtwelve['title'].value_counts()).shape, '\n')

print('dthirteen')
print('posts:', dthirteen.shape)
print('unique posts:', pd.DataFrame(dthirteen['title'].value_counts()).shape, '\n')

print('dfourteen')
print('posts:', dfourteen.shape)
print('unique posts:', pd.DataFrame(dfourteen['title'].value_counts()).shape, '\n')

print('dfifteen')
print('posts:', dfifteen.shape)
print('unique posts:', pd.DataFrame(dfifteen['title'].value_counts()).shape, '\n')

print('dsixteen')
print('posts:', dsixteen.shape)
print('unique posts:', pd.DataFrame(dsixteen['title'].value_counts()).shape, '\n')

print('dseventeen')
print('posts:', dseventeen.shape)
print('unique posts:', pd.DataFrame(dseventeen['title'].value_counts()).shape, '\n')

print('deighteen')
print('posts:', deighteen.shape)
print('unique posts:', pd.DataFrame(deighteen['title'].value_counts()).shape, '\n')

print('dnineteen')
print('posts:', dnineteen.shape)
print('unique posts:', pd.DataFrame(dnineteen['title'].value_counts()).shape, '\n')

print('dtwenty')
print('posts:', dtwenty.shape)
print('unique posts:', pd.DataFrame(dtwenty['title'].value_counts()).shape, '\n')

print('dtwentyone')
print('posts:', dtwentyone.shape)
print('unique posts:', pd.DataFrame(dtwentyone['title'].value_counts()).shape, '\n')

print('dtwentytwo')
print('posts:', dtwentytwo.shape)
print('unique posts:', pd.DataFrame(dtwentytwo['title'].value_counts()).shape, '\n')

dseven
posts: (2500, 84)
unique posts: (2426, 1)

deight
posts: (2500, 84)
unique posts: (2401, 1)

dnine
posts: (2500, 84)
unique posts: (2392, 1)

dten
posts: (2500, 84)
unique posts: (2283, 1)

deleven
posts: (2500, 85)
unique posts: (2396, 1)

dtwelve
posts: (2500, 85)
unique posts: (2353, 1)

dthirteen
posts: (2500, 84)
unique posts: (2334, 1)

dfourteen
posts: (2500, 84)
unique posts: (2427, 1)

dfifteen
posts: (2500, 84)
unique posts: (2193, 1)

dsixteen
posts: (2500, 84)
unique posts: (2284, 1)

dseventeen
posts: (2500, 84)
unique posts: (2332, 1)

deighteen
posts: (2500, 85)
unique posts: (2349, 1)

dnineteen
posts: (2500, 85)
unique posts: (2069, 1)

dtwenty
posts: (2500, 84)
unique posts: (2396, 1)

dtwentyone
posts: (2500, 84)
unique posts: (2364, 1)

dtwentytwo
posts: (2500, 84)
unique posts: (2360, 1)

In [97]:
#Q: how to add in all jsons from folder?

In [98]:
#aggregating datasets
data2 = pd.concat([dseven, deight, dnine, dten, deleven, dtwelve, 
                   dthirteen, dfourteen, dfifteen,
                   dsixteen, dseventeen, deighteen, dnineteen, dtwenty,
                  dtwentyone, dtwentytwo],
                  ignore_index = True)
data2.drop_duplicates(subset = 'title', inplace = True)

data2.shape

(15747, 85)

In [99]:
data = pd.concat([data1, data2], ignore_index = True)
data.drop_duplicates(subset = 'title')
data.shape

(22580, 85)

In [100]:
#save results to csv
data.to_csv('data')